<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ed's Blog</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Lato:300,400|Droid+Serif' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>
  <div id="container">
  <h1>CRUD BLOG</h1>
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/posts/new">New Post</a></li>
    <li><a href=""></a></li>
  </ul>

  
  <%= yield %>
  
</div> <!-- end container -->
</body>
</html>